ol,
ul {
  padding-left: 0;
  padding-top: 20px;

}

.centered-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Các thuộc tính CSS khác cho nút */
}

/* Định dạng icon */
.button svg {
  margin: auto;
}