@media (min-width: 740px) and (max-width: 1023px) {

    .slider-items-products {
        position: relative;
        margin-top: -25px;
    }

    .category-image {
        width: 337px;
        height: 250px;
    }

    a.tl p.ttt {
        font-size: 18px;
        position: absolute;
        background: #fff;
        color: #000;
        width: auto;
        text-align: center;
        font-weight: 600;
        padding: 10px 70px 10px 15px;
        z-index: 9;
        top: 15px;
        right: 58px;
        margin: 0;
    }

    a.tl:hover p.ttt {
        right: 63px;
    }

    .slick-track {
        position: relative;
        top: 10px;
        left: 0;
        display: block;
        margin-left: 52px;
        margin-right: 0px;
    }

    .slick_margin .slick-list {
        margin-left: -10px;
        margin-bottom: -680px;
    }

    .thumb-wrapper .thumb::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.6);
        z-index: 5;
        opacity: 0;
    }

    .x .item_bl_index {
        margin-bottom: 10px;
        width: 50%;
    }

    .main-col {
        margin: auto;
        overflow: hidden;
    }

    .main-col2 {
        margin-top: 27px;
        overflow: hidden;
    }

    .main-col3 {
        margin-top: 10px;
        overflow: hidden;
    }

    .main-col4 {
        margin-top: 10px;
        overflow: hidden;
    }

    .main-col5 {
        margin-top: 10px;
        overflow: hidden;
    }

    .col-item1 {
        text-align: center;
        margin-left: -94px;
        margin-right: 84px;
    }

    .col-item2 {
        text-align: center;
        margin-left: 143px;
        margin-right: -156px;
    }

    .col-item3 {
        text-align: center;
        margin-left: 306px;
        margin-right: -316px;
    }

    .col-item4 {
        text-align: center;
        margin-left: 490px;
        margin-right: -504px;
    }

    .col-item5 {
        text-align: center;
        margin-left: -30px;
        margin-right: 30px;
        display: none;
    }

    .col-item6 {
        text-align: center;
        margin-left: -45px;
        margin-right: 35px;
        display: none;
    }

    .col-item7 {
        text-align: center;
        margin-left: -26px;
        margin-right: 26px;
        display: none;
    }

    .col-item8 {
        text-align: center;
        margin-left: -18px;
        margin-right: 13px;
        display: none;
    }

    .slider-items .actions button.button.btn-cart.btn-more a {
        text-decoration: none;
        background: #ff7600;
        color: #fff;
    }

    .slider-items .actions button.button.btn-cart a {
        text-decoration: none;
        background: #ff7600;
        color: #fff;
    }

    .slider-items .actions button.button.btn-cart.btn-more {
        margin-right: 2px;
        transition: all 0.5s;
    }

    .slider-items .actions button.button.btn-cart {
        padding: 0 !important;
        width: 0;
        opacity: 0;
        font-size: 0;
        transition: all 0.3s;
        display: inline-block;
        margin-left: 2px;
        background: #ff7600;
        color: #fff;
    }

    .actions button.button.btn-cart {
        border: 1px solid #b82800;
        color: #fff;
        line-height: 14px;
    }

    .sock_slide .slick-arrow.slick-prev:hover:before {
        background-color: #b82800;
    }

    .sock_slide .slick-arrow.slick-next:hover:before {
        background-color: #b82800;
    }

    form {
        display: block;
        margin-top: 0em;
    }

    .sock_slide .slick-arrow.slick-prev {
        left: 0;
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

    .sock_slide .slick-arrow.slick-next {
        right: 0;
        opacity: 1;
        visibility: visible;
        margin-top: -458px;
        margin-right: -28px;
        transform: translateX(0);
    }

    .sock_slide .slick-arrow.slick-prev:before {
        content: "";
        background-image: url(//bizweb.dktcdn.net/100/368/970/themes/740033/assets/left_s.png?1676649609260);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 8px center;
        height: 40px;
        width: 40px;
        margin-top: -492px;
        margin-left: 3px;
        display: block;
        background-color: #ff7600;
        border-radius: 20px;
    }

    .sock_slide .slick-arrow.slick-next:before {
        content: "";
        background-image: url(//bizweb.dktcdn.net/100/368/970/themes/740033/assets/right_s.png?1676649609260);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 11px center;
        height: 40px;
        width: 40px;
        margin-top: -15px;
        margin-right: 8px;
        margin-left: -34px;
        display: block;
        background-color: #ff7600;
        border-radius: 20px;
    }

    .swiper-button-prev {
        display: none;
    }

    .swiper-button-next {
        display: none;
    }

    .regular-price .price {
        font-weight: 600;
        font-size: 15px;
        margin-left: -60px;
    }

    .special-price .price {
        font-size: 15px;
        font-weight: 600;
        margin-left: -114px;
    }

    .col-item1.special-price .price {
        font-size: 15px;
        font-weight: 600;
        margin-left: -126px;
    }

    .old-price .price {
        color: #777 !important;
        font-size: 12px;
        font-weight: normal;
        text-decoration: line-through;
        margin-right: -17px;
        margin-left: -104px;
    }

    .slick_margin .slick-slide {
        margin-left: 93px;
    }

}

@media (max-width: 739px) {
    a.tl p.ttt {
        font-size: 18px;
        position: absolute;
        background: #fff;
        color: #000;
        width: auto;
        text-align: center;
        font-weight: 600;
        padding: 10px 70px 10px 15px;
        z-index: 9;
        top: 15px;
        right: 58px;
        margin: 0;
    }

    .logo {
        width: 50px;
    }

    .category-image {
        width: 337px;
        height: 208px;
    }

    a.tl:hover p.ttt {
        color: #ff7600;
    }

    a.tl:hover p.ttt {
        right: 63px;
    }

    a.tl p.ttt span::before {
        content: '';
        height: 2px;
        width: 200px;
        background: #000;
        position: absolute;
        top: -15px;
        left: 100%;
        right: 60px;
    }

    .col-item1 .item-inner {
        background: #fff;
        padding-bottom: 10px;
        margin-left: 3px;
    }

    .info-inner {
        margin-top: -120px;
    }

    .slider-items .col-item1 a.thumb {
        height: 273px;
        justify-content: center;
        display: flex;
        -webkit-justify-content: center;
        -webkit-display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
    }

    .slider-items .col-item1 a.thumb img {
        max-width: 50%;
        max-height: 50%;
        margin-top: 0;
    }

    .slider-items .col-item2 a.thumb {
        height: 273px;
        justify-content: center;
        display: flex;
        -webkit-justify-content: center;
        -webkit-display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
    }

    .slider-items .col-item2 a.thumb img {
        max-width: 50%;
        max-height: 50%;
        margin-top: 0;
    }

    .sock_slide .slick-arrow.slick-prev {
        left: 0;
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

    .sock_slide .slick-arrow.slick-next {
        right: 0;
        opacity: 1;
        visibility: visible;
        margin-top: -458px;
        margin-right: -28px;
        transform: translateX(0);
    }

    .sock_slide .slick-arrow.slick-prev:before {
        content: "";
        background-image: url(//bizweb.dktcdn.net/100/368/970/themes/740033/assets/left_s.png?1676649609260);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 8px center;
        height: 40px;
        width: 40px;
        margin-top: -837px;
        margin-left: 3px;
        display: block;
        background-color: #ff7600;
        border-radius: 20px;
    }

    .sock_slide .slick-arrow.slick-next:before {
        content: "";
        background-image: url(//bizweb.dktcdn.net/100/368/970/themes/740033/assets/right_s.png?1676649609260);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 11px center;
        height: 40px;
        width: 40px;
        margin-top: -380px;
        margin-right: 32px;
        margin-left: -32px;
        display: block;
        background-color: #ff7600;
        border-radius: 20px;
    }

    .slider-items .actions button.button.btn-cart.btn-more {
        margin-right: 2px;
        transition: all 0.5s;
    }

    .slider-items .actions button.button.btn-cart {
        padding: 0 !important;
        width: 0;
        opacity: 0;
        font-size: 0;
        transition: all 0.3s;
        display: inline-block;
        margin-left: 2px;
        background: #ff7600;
        color: #fff;
    }

    .actions button.button.btn-cart {
        border: 1px solid #b82800;
        color: #fff;
        line-height: 14px;
    }

    .sock_slide .slick-arrow.slick-prev:hover:before {
        background-color: #b82800;
    }

    .sock_slide .slick-arrow.slick-next:hover:before {
        background-color: #b82800;
    }

    form {
        display: block;
        margin-top: 0em;
    }

    .slider-items .actions {
        position: absolute;
        bottom: 68%;
        width: 70%;
        margin-left: 41px;
        margin-right: 50px;
        transform: translateY(50%);
        z-index: 9;
    }

    .swiper-button-prev {
        display: none;
    }

    .swiper-button-next {
        display: none;
    }

    .main-col {
        margin: auto;
        overflow: hidden;
    }

    .main-col2 {
        margin-top: 27px;
        overflow: hidden;
    }

    .main-col3 {
        margin-top: 10px;
        overflow: hidden;
    }

    .main-col4 {
        margin-top: 10px;
        overflow: hidden;
    }

    .main-col5 {
        margin-top: 10px;
        overflow: hidden;
    }

    .col-item1 {
        text-align: center;
        margin-left: -94px;
        margin-right: 31px;
        margin-top: 12px;
    }

    .col-item2 {
        text-align: center;
        margin-left: 178px;
        margin-right: -220px;
        margin-top: 12px;
    }

    .col-item3 {
        text-align: center;
        margin-left: 455px;
        margin-right: -350px;
        display: none;
    }

    .col-item4 {
        text-align: center;
        margin-left: 455px;
        margin-right: -350px;
        display: none;
    }

    .col-item5 {
        text-align: center;
        margin-left: -30px;
        margin-right: 30px;
        display: none;
    }

    .col-item6 {
        text-align: center;
        margin-left: -45px;
        margin-right: 35px;
        display: none;
    }

    .col-item7 {
        text-align: center;
        margin-left: -26px;
        margin-right: 26px;
        display: none;
    }

    .col-item8 {
        text-align: center;
        margin-left: -18px;
        margin-right: 13px;
        display: none;
    }

    .regular-price .price {
        font-weight: 600;
        font-size: 15px;
        margin-left: -300px;
    }

    .special-price .price {
        font-size: 15px;
        font-weight: 600;
        margin-left: -279px;
    }

    .old-price .price {
        color: #777 !important;
        font-size: 12px;
        font-weight: normal;
        text-decoration: line-through;
        margin-right: 96px;
        margin-left: -376px;
    }

    .slick_margin .slick-slide {
        margin-left: 93px;
    }

}