.table-container {
    overflow-x: auto;
}

.ant-table-column-sorter-up.active svg {
    fill: black;
}

.ant-table-column-sorter-down.active svg {
    fill: black;
}

.ant-table-filter-trigger.active svg {
    fill: black;
}

.ant-table-filter-dropdown-btns .ant-btn-sm {
    background-color: darkblue;
    color: white;
}

@media (max-width: 739px) {
    .table-container {
        overflow-x: auto !important;
        overflow: hidden !important;
    }

    .ant-table-content {
        overflow-x: auto !important;
    }
}

.product-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.product-info {
    flex: 1;
    margin-right: 20px;
}

.product-name {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.product-price {
    font-size: 1.2rem;
    color: #888;
}

.product-category,
.product-material {
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
}

.product-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}